In [2]:
# 기본 패키지
import pandas as pd
import numpy as np

# 시각화 패키지
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('font', family='NanumBarunGothic') 
plt.style.use(['ggplot'])

# 변수 생성 패키지
import datetime

# 한글 시각화시 필요 모듈
import platform # 사용자 운영체제 확인
platform.system()
## 운영체제별 한글 폰트 설정
if platform.system() == 'Darwin': # Mac 환경 폰트 설정
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows': # Windows 환경 폰트 설정
    plt.rc('font', family='Malgun Gothic')

plt.rc('axes', unicode_minus=False) # 마이너스 폰트 설정
## 글씨 선명하게 출력하는 설정
%config InlineBackend.figure_format = 'retina'


# 경고 메시지 무시
import warnings
warnings.filterwarnings(action='ignore') 


# 버전 확인
print('Pandas : %s'%(pd.__version__))
print('seaborn : %s'%(sns.__version__))
print('matplotlib : %s'%(matplotlib.__version__))
!python --version

Pandas : 1.2.1
seaborn : 0.11.1
matplotlib : 3.5.1
Python 3.8.13

## Load Data

In [3]:
loan = pd.read_csv('../data/loan_fillna.csv')
# loan = pd.read_csv('../data/loan_result.csv')

# log = pd.read_csv('../data/log_data.csv')

user = pd.read_csv('../data/user_fillna.csv')
# user = pd.read_csv('../data/user_spec.csv')

대출이력이 있는 고객 feature 생성

In [2]:
loan_true = loan[loan['is_applied'] == 1]
loan_true_list = loan_true['application_id'].unique()

tempt = []

for i in range(len(user['application_id'])):
    if user['application_id'][i] in loan_true_list:
        tempt.append(1)
    else:
        tempt.append(0)
        
user['loan_history'] = tempt

In [7]:
user = user.iloc[:,1:]

In [8]:
user.head()

,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
0,1249046,118218,1985.0,1.0,2022-06-07 06:28:18,660.0,108000000.0,PRIVATEBUSINESS,20151101.0,기타,자가,1000000.0,기타,0,2.0,4.0,162000000.0
1,954900,553686,1968.0,1.0,2022-06-07 14:29:03,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,기타가족소유,30000000.0,대환대출,0,2.0,1.0,27000000.0
2,137274,59516,1997.0,1.0,2022-06-07 21:40:22,710.0,30000000.0,FREELANCER,20210901.0,기타,기타가족소유,10000000.0,생활비,0,2.0,5.0,15000000.0
3,1570936,167320,1989.0,1.0,2022-06-07 09:40:27,820.0,62000000.0,EARNEDINCOME,20170101.0,정규직,자가,2000000.0,생활비,0,2.0,7.0,344000000.0
4,967833,33400,2000.0,1.0,2022-06-07 08:55:07,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,기타가족소유,5000000.0,생활비,1,0.0,1.0,16000000.0

In [14]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394216 entries, 0 to 1394215
Data columns (total 17 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   application_id                       1394216 non-null  int64
 1   user_id                              1394216 non-null  int64
 2   birth_year                           1394216 non-null  object
 3   gender                               1394216 non-null  object
 4   insert_time                          1394216 non-null  object
 5   credit_score                         1394216 non-null  float64
 6   yearly_income                        1394216 non-null  float64
 7   income_type                          1394216 non-null  object
 8   company_enter_month                  1394216 non-null  object
 9   employment_type                      1394216 non-null  object
 10  houseown_type                        1394216 non-null  object
 11  desired_amount                       1394216 non-null  float64
 12  purpose                              1394216 non-null  object
 13  personal_rehabilitation_yn           1394216 non-null  int64
 14  personal_rehabilitation_complete_yn  1394216 non-null  float64
 15  existing_loan_cnt                    1394216 non-null  float64
 16  existing_loan_amt                    1394216 non-null  float64
dtypes: float64(6), int64(3), object(8)
memory usage: 180.8+ MB

In [22]:
user['birth_year'].str[:4].unique()

array(['1985', '1968', '1997', '1989', '2000', '1994', '1976', '1992',
       '1991', '1980', '1981', '1987', '1986', '1996', '1990', '1965',
       '1993', '1978', '1974', '1984', '1983', '2001', '1975', '1995',
       '1998', '1962', '1972', '1982', '1988', '1979', '1963', '1959',
       '1967', '1957', '1999', '1971', '1977', '1955', '1973', '2002',
       '1969', '1966', '1964', '1970', '1947', '1960', '1958', '1961',
       '1943', '1948', '없음', '1954', '1932', '1939', '1951', '1956',
       '1953', '1945', '1952', '1950', '2003', '1942', '1946', '1934',
       '1949', '1938', '1941', '1940', '1944', '1936', '1933', '1937',
       '2004', '1931', '1935', '2005', '2006', '1927', '2007', '2008',
       '1930', '1929'], dtype=object)

In [21]:
# 현재나이
dt_now = datetime.datetime.now()
user2['age'] = dt_now.year - pd.to_datetime(user['birth_year'].str[:4],format = '%Y')
user2

ValueError: time data '없음' does not match format '%Y' (match)

In [ ]:
'''
# user
연소득/신용점수
기대출금액/연소득

연령대
def _birth_category(x) :
    if 0 <= x < 10 :
        return '0대'
    elif 10<= x <20 :
        return '10대'
    elif 20<= x <30 :
        return '20대'
    elif 30<= x <40 :
        return '30대'
    elif 40<= x <50 :
        return '40대' 
    elif 50<= x <60 :
        return '50대'
    elif 60<= x <70 :
        return '60대'
    else :
        return '70대 이상'

연소득 등급
def _income_category(x) :
    if x < 5510000 :
        return '1'
    elif 5510000 <= x <18440000 :
        return '2'
    elif 18440000 <= x <32260000 :
        return '3'
    elif 32260000 <= x < 42970000 :
        return '4'
    elif 42970000 <= x < 50880000 :
        return '5'
    elif 50880000 <= x < 61690000 :
        return '6'
    elif 61690000 <= x < 75790000 :
        return '7'
    elif 75790000 <= x < 96130000 :
        return '8'
    elif 96130000 <= x < 128850000 :
        return '9'
    elif 128850000 <= x < 233790000 :
        return '10'



'''

'''
타깃 불균형이 심하다보니 이걸 해결할 수 있는 방법
회귀 문제에는 우선 user_spec, loan_result 데이터를 사용해보고 
군집화문제에 log_data를 추가적으로 사용하는 방법

credit_score'가 극단적으로 낮은 경우가 몇 개 있음
핀다 사용자 10명 중 6명은 중금리대출
인터넷 은행이 채우지 못한 중금리대출의 니즈를 채워줌
'''

In [218]:
# 데이터 병합
data = pd.merge(loan, user, on = "application_id").reset_index(drop = True)
data.to_csv("../data/data.csv")